<section>
  <form [formGroup]="signupForm" (ngSubmit)="register(signupForm)">
    <h1>Create Account</h1>
    <div class="form-inputs">
      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">
      Create Account
    </button>
    <div class="register-container">
      <p>Have an account?</p>
      <a routerLink="/login">Login</a>
    </div>
  </form>
</section>
<router-outlet></router-outlet>
