<section>
  <form [formGroup]="loginForm">
    <h1>Login</h1>
    <div class="form-inputs">
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Login</button>
    <div class="register-container">
      <p>New User?</p>
      <a href="#">Create An Account</a>
    </div>
    <p>{{ loginForm.value | json }}</p>
  </form>
</section>
